<header>
    <a href="/">
        <img class="logo" src="image/transp(logo).png">
    </a>
    <nav>
        <ul class="head_links">
            <li><a href="/faq" class="linksheader">FAQ</a> </li>
            <li><a href="/tickets" class="linksheader">Tickets</a> </li>
            <li><a href="/atendimento" class="linksheader">Atendimento</a> </li>
        </ul>
    </nav>
    <nav class="login">
        <a href="/user" class="px-2"><button>Utilizador</button></a>
        <form action="/logout" method="post">
            <a href="/logout"><button>Sign Out</button></a>
        </form>
    </nav>
</header>