<header>
    <img class="logo" src="image/transp(logo).png">
    <nav>
       <!--
        <ul class="head_links">
            <li><a href="#">FAQ</a> </li>
            <li><a href="#">Tickets</a> </li>
            <li><a href="#">Atendimento</a> </li>
        </ul>
    -->
    </nav>
    <nav class="login">
        <a href="#"><button>Sign Up</button></a>
        <a href="#"><button>Sign In</button></a>
    </nav>
</header>
<footer>
    <div>
        Um slogan
    </div>
    <div>
        @2021 Copyright : CompanyName
    </div>
</footer>